<div class="lists">Добро пожаловать в Reader`s diary!</div>
<div class="container">
  <div class="container-inner">
    <div class="titles">
      <%= link_to "Войти", "/start" %></div>
    <div class="titles"><%= link_to "Зарегистироваться", "users/sign_up" %></div>
  </div>
</div>