<div class="lists">Добро пожаловать в Reader`s diary!</div>

  <div class="titles">
    <%= link_to "Войти", "/start"%><br></div>
  <div class="titles"><%= link_to "Зарегистироваться", "users/sign_up"%><br></div>