.books {
    color: darkblue;
    text-align: center;
    font-size: 35px;
}

.lists {
    font-size: 22px;
    color: #730E15;
    text-align: center;
    margin-top: 200px;
    font-stretch: ultra-expanded;
    font-size: 40px;
}

.titles {
    color: #B00100;
    border: #999999 solid 1px;
    padding: 5px;
    width: 400px;
    font-size: 35px;
    background: blanchedalmond;
    margin: 10px auto;
    text-align: center;
}

.titles:hover {
    background: #f9f9d1;
}

.titles-container {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}